.auth-page {
  height: 100dvh;
  backdrop-filter: blur(15px);
}
.left-img {
  width: 90%;
}
.auth-row {
  height: 600px;
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.073);
}
.toggle-btn {
  background-image: linear-gradient(to bottom right, rgb(228, 47, 228), rgba(0, 0, 0, 0.687));
  border-radius: 50%;
  color: white;
}
input {
  border: 0;
  box-shadow: none !important;
}
@media (max-width: 1000px) {
  .auth-row {
    height: 500px;
    width: 800px;
  }
  .img-sec {
    margin-top: 20px !important;
  }
}
@media (max-width: 768px) {
  .img-div {
    display: none;
  }
}
