.bg-image {
  background: linear-gradient(30deg, rgba(2,0,36,1) 70%, rgba(9,26,121,1) 100%);
  padding: 10px;

   
  }
  

/* .bg-image1{
    background-image: url('../../../assets/rectangle.png'); 
    background-size: cover;
    background-position: 10px 20px;
} */


@media (min-width: 1024px) {
  .para {
margin-left: 100px !important;   
  }
  
}

@media (min-width: 768px) and  (max-width: 1024px) {
  .para {
visibility: hidden;   
  }
  
}