.glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  @media (max-width: 425px) {
    .connect {
      padding: 0px !important;
      /* justify-content: center !important; */
    }
  }
  @media (max-width: 768px) {
    .connect {
      padding: 0px !important;
      /* justify-content: center !important; */
    }
  }