/* .BG-image {
    background-image: url('../../assets/eclipse.png');
    background-size: cover, cover; 
    background-position: center,center;
    background-repeat: no-repeat, no-repeat;
  } */
/* 
 .background{
    background-image: url('../../assets/eclipse.png'),url('../../assets/rectangle1.png'),url('../../assets/bg1.png');
    background-size: cover,cover,cover;
    background-position: center,center,center;
    background-repeat: no-repeat,no-repeat,no-repeat;

 }  */