.circle{
    height: 150px;
    width:150px;
    background-color: #bbb;
    border-radius: 50%;
    display:flex;
}
.glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
.BG-image{
    background-image: url('../../../assets/rectangle1.png');
    background-size: cover; /* Adjust sizes if needed */
    background-position: left;
    background-repeat: no-repeat;
      
}