.circle{
    height: 150px;
    width:150px;
    background-color: #bbb;
    border-radius: 50%;
    display:flex;
}

.BG-image{
    background: linear-gradient(30deg, rgba(2,0,36,1) 50%, rgb(197, 201, 224) 100%);
    padding: 10px;
  
      
}